# POI API OWNERSHIP
/apis/poi/           @trip-viewer/poi-api-owners

# TRIPS API OWNERSHIP
/apis/trips/         @trip-viewer/trips-api-owners

# USER-JAVA API OWNERSHIP
/apis/user-java/     @trip-viewer/user-java-api-owners

# USER-PROFILE API OWNERSHIP
/apis/userprofile/   @trip-viewer/userprofile-api-owners
